{% extends "mainHTML.html" %}
{% block content %}
<nav id="drawer" class="nav">
  <ul class="nav__list">
  <li class="nav__item"><a href = '{{url_for('mainCatalog')}}'>Go Back</a></li>
  </ul>
</nav>
<main class="catalog">
   <div class="grid">
     <div class="cell">
    <form action="#" method = 'post'>
      <label for="newCategory">Are you sure you want to delete item {{category.name}}?:</label>
      <button type="submit" name="submit" value='delete'>Delete</button>
</form>
</div>
</div>
</main>
{% endblock %}
