{% extends "mainHTML.html" %}
{% block content %}
<nav id="drawer" class="nav">
  <ul class="nav__list">
  <li class="nav__item"><a href = '{{url_for('mainCatalog')}}'>Go Back</a></li>
  </ul>
</nav>
<main class="catalog">
   <div class="grid">
     <div class="cell">
      <form action="" method = "post">
				<label for="editCategory">Please enter the new name of {{category.name}}:</label>
      </br>
				<input type ="text" maxlength="100" name="editCategory" value="{{category.name}}">
				<button type="submit" type="submit" value='submit'>Edit</button>
      </div>
    </div>
  </form>
</main>
{% endblock %}
